/*
 * Copyright (c) 2021 Espressif Systems (Shanghai) Co., Ltd.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <espressif/esp32c3.dtsi>
#include "system_on_a_business_card-pinctrl.dtsi"

/ {
	model = "system_on_a_business_card";
	compatible = "espressif,esp32c3";

	chosen {
		zephyr,sram = &sram0;
		zephyr,console = &usb_serial;
		zephyr,shell-uart = &usb_serial;
		zephyr,flash = &flash0;
		zephyr,display=&ssd1312_ssd1312_128x64;
	};

	aliases {
		btn-start = &user_button_start;
		btn-select = &user_button_select;
		btn-up = &user_button_up;
		btn-down = &user_button_down;
		btn-left = &user_button_left;
		btn-right = &user_button_right;
		btn-a = &user_button_a;
		btn-b = &user_button_b;
		btn-x = &user_button_x;
		btn-y = &user_button_y;
		i2c-0 = &i2c0;
		arduion-i2c = &i2c0;
		watchdog0 = &wdt0;
	};

	power-states {
		light_sleep: light_sleep {
			compatible = "zephyr,power-state";
			power-state-name = "standby";
			min-residency-us = <200>;
			exit-latency-us = <60>;
		};

		deep_sleep: deep_sleep {
			compatible = "zephyr,power-state";
			power-state-name = "soft-off";
			min-residency-us = <660>;
			exit-latency-us = <105>;
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		user_button_start: button_start {
			label = "Button Start";
			gpios = <&gpio0 20 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
		user_button_select: button_select{
			label = "Button Select";
			gpios = <&gpio0 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
		user_button_up: button_up{
			label = "Button Up";
			gpios = <&gpio0 7 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
		user_button_down: button_down{
			label = "Button Down";
			gpios = <&gpio0 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
		user_button_left: button_left{
			label = "Button Left";
			gpios = <&gpio0 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
		user_button_right: button_right{
			label = "Button Right";
			gpios = <&gpio0 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
		user_button_a: button_a{
			label = "Button A";
			gpios = <&gpio0 1 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
		user_button_b: button_b{
			label = "Button B";
			gpios = <&gpio0 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
		user_button_x: button_x{
			label = "Button X";
			gpios = <&gpio0 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
		user_button_y: button_y{
			label = "Button Y";
			gpios = <&gpio0 21 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
	};
};

&cpu0 {
	clock-frequency = <ESP32_CLK_CPU_160M>;
	cpu-power-states = <&deep_sleep &light_sleep>;
};

&uart0 {
	status = "disabled";
};

&usb_serial {
	status = "okay";
};

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";

	ssd1312_ssd1312_128x64: ssd1312@3c {
		compatible = "solomon,ssd1312fb";
		reg = <0x3c>;
		width = <128>;
		height = <64>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
		segment-remap;
		prechargep = <0x22>;
	};
};

&trng0 {
	status = "okay";
};

&spi2 {
	status = "disabled";
};

&gpio0 {
	status = "okay";
};

&wdt0 {
	status = "okay";
};

&timer0 {
	status = "okay";
};

&timer1 {
	status = "okay";
};

&wifi {
	status = "okay";
};

&flash0 {
	status = "okay";
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* Reserve 60kB for the bootloader */
		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x0000F000>;
			read-only;
		};

		/* Reserve 1024kB for the application in slot 0 */
		slot0_partition: partition@10000 {
			label = "image-0";
			reg = <0x00010000 0x00100000>;
		};

		/* Reserve 1024kB for the application in slot 1 */
		slot1_partition: partition@110000 {
			label = "image-1";
			reg = <0x00110000 0x00100000>;
		};

		/* Reserve 256kB for the scratch partition */
		scratch_partition: partition@210000 {
			   label = "image-scratch";
			   reg = <0x00210000 0x00040000>;
		};

		storage_partition: partition@250000 {
			label = "storage";
			reg = <0x00250000 0x00006000>;
		};
	};
};
